<section class="nav-wrapper">
  <nav>
    <div class="logoWrapper" >
      <a href="/">
      <img src="../images/Frame 12.png" alt="Logo">
      <img src="../images/MemeMe.png" alt="Logo-name">
      </a>
    </div>
   
    <div>
      <a class="btn btn-outline-secondary" href="/meme/add">Add a meme</a>
      <a class="btn btn-secondary" href="/logout">LOG OUT</a>
   </div>

  </nav>
</section>


<h1>Login 🤗</h1>

<form action="/login" method="POST">

  <label for="username">Username:</label>
  <input type="text" name="username" id="username">

  <label for="password">Password:</label>
  <input type="password" name="password">

  <button type="submit">Log In 😉</button>
</form>


{{#if message}}
  <p style="color: red">{{message}}</p>
{{/if}}