<section class="nav-wrapper">
  <nav>
    <div class="logoWrapper" >
      <a href="/">
      <img src="../images/Frame 12.png" alt="Logo">
      <img src="../images/MemeMe.png" alt="Logo-name">
      </a>
    </div>
  </nav>
</section>


<div class="headline-signup-login">
<h2>Log in</h2>
</div>

<section class="signup-login-frame">
  <form class="sign-up-group" action="/login" method="POST">

   
    <input class="form-control" type="text" name="username" id="username" placeholder="Username">

    <input class="form-control" type="password" name="password" placeholder="Password">

    {{#if message}}
    <p style="color: red">{{message}}</p>
    {{/if}}
    <div>
    <button class="btn btn-secondary" type="submit">Log In</button>
    <a class="no-account-yet" href="/signup">No account yet?</a>
    </div>
</form>




</section>