{{#each imgList}}
<div class="card item" style="width: 500px">
  <a href="/meme/{{_id}}">
  <img class="card-img-top" width="400" src="{{this.imgPath}}" alt="{{this.title}}"> 
  </a> 
  <h4>{{this.title}}</h4>
</div>
{{/each}}