<section class="back-arrow">
  <img src="../images/arrow.png" alt="">
  <a href="/">Back to home</a>
</section>


  <div class="logoWrapper">

      <img src="../images/Frame 12.png" alt="Logo">
      <img src="../images/MemeMe.png" alt="Logo-name">
    </div>

<div id="addWrapper">
  <form action="/meme/add" method="POST" enctype="multipart/form-data">

    <div>
       
      <input type="file" name="image" id="img"  />
     
      <p>OR</p>
      <input type="url" name="imageUrl" id="image" placeholder="Paste Image URL">
    </div>

    <input type="text" name="title" id="title" placeholder="Title: ">
    <input type="text" name="description" id="description" placeholder="Description">
    <button type="submit">Add the Meme</button>
  </form>
</div>


<section class="footer-wrapper">
  <footer>
    <a href="">(c)2020 MEMEME</a>
    <a href="">ABOUT</a>
    <a href="">PRIVACY</a>
    <a href="">TERMS</a>
  </footer>
</section>