<section class="nav-wrapper">
  <nav>
    <div class="logoWrapper" >
      <a href="/">
      <img src="../images/Frame 12.png" alt="Logo">
      <img src="../images/MemeMe.png" alt="Logo-name">
      </a>
    </div>
     <div>
       <a class="btn btn-secondary" href="/profile">Profile {{username}}</a>
   </div>
  </nav>
</section>


<div class="headline-signup-login">
<h2>Add a Meme</h2>
</div>


<Section class="upload-details">
  <form action="/meme/add" method="POST" enctype="multipart/form-data">

    <div class="row">
      <div class="col">
        <input class="form-control" id="add-meme" type="text" name="title" id="title" placeholder="Title ">
       </div>
       <div class="col">
       <input class="form-control" id="add-meme" dtype="text" name="description" id="description" placeholder="Description">
       </div>
    </div>

<div class="upload-methods">
    <div id="upload-via-file">
      <input onChange="document.getElementById('file-name').innerText = this.value.replace(/^.*[\\\/]/, '');" style="display: none;" type="file" name="image" id="img"/>
      <button class="btn btn-outline-secondary" onClick="document.getElementById('img').click(); return false;">Browse Files</button>
      <span id="file-name">No File Selected</span>
    </div>
      
      <p id="upload-choice">OR</p>

    <div>
      <input class="form-control" id="add-meme" type="url" name="imageUrl" id="image" placeholder="Paste Image URL">
    </div>
</div>

    <div id="add-meme-btn">
      <button class="btn btn-secondary" type="submit">Add the Meme</button>
    </div>
  </form>






</Section>





