
<section class="back-arrow">
  <img src="../images/arrow.png" alt="">
  <a href="/">Back to home</a>
</section>

  <h1>Welcome to you profile, {{this.username}}</h1>
  <h2>Your Memes: </h2>
  
<a href="/meme/delete/{{_id}}">Delete Meme</a>
<a href="/logout">Log Out</a>